bridge,.json
[
    {
        "id": "f58305dbdfb3aed7",
        "type": "tab",
        "label": "Light strip testing",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c3f2e1ed49003cfa",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 2",
        "device": "192.168.254.154/1",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 910,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "67a071c2f780d23c",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 3",
        "device": "192.168.254.154/2",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 910,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "eeb26bbf380f829c",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 4",
        "device": "192.168.254.154/3",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 910,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "58b0433ac8c38941",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 5",
        "device": "192.168.254.154/4",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 910,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "c251737f72d0c6d0",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 6",
        "device": "192.168.254.154/5",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 910,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "dace60cedfea2394",
        "type": "comment",
        "z": "f58305dbdfb3aed7",
        "name": "Zero-index Plugs",
        "info": "",
        "x": 920,
        "y": 180,
        "wires": []
    },
    {
        "id": "bfb942bc3b191d01",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 1",
        "device": "192.168.254.154/0",
        "interval": 60000,
        "eventInterval": 15000,
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 910,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "503a4c551f4e455b",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "444ec423f8805849",
        "accessoryId": "",
        "parentService": "",
        "name": "Plug 1",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "b0e06e3f012f25b2"
            ],
            []
        ]
    },
    {
        "id": "b0e06e3f012f25b2",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 260,
        "wires": [
            [
                "bfb942bc3b191d01"
            ]
        ]
    },
    {
        "id": "351fa777b84b8db4",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "444ec423f8805849",
        "accessoryId": "",
        "parentService": "",
        "name": "Plug 2",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 310,
        "y": 340,
        "wires": [
            [
                "4411f9cd7a870ddb"
            ],
            []
        ]
    },
    {
        "id": "4411f9cd7a870ddb",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 340,
        "wires": [
            [
                "c3f2e1ed49003cfa"
            ]
        ]
    },
    {
        "id": "99d213162b0efd76",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "444ec423f8805849",
        "accessoryId": "",
        "parentService": "",
        "name": "Plug 3",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "b14e1ddd43df1a4a"
            ],
            []
        ]
    },
    {
        "id": "b14e1ddd43df1a4a",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 400,
        "wires": [
            [
                "67a071c2f780d23c"
            ]
        ]
    },
    {
        "id": "bbf66bfe2f875865",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "444ec423f8805849",
        "accessoryId": "",
        "parentService": "",
        "name": "Plug 4",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 330,
        "y": 460,
        "wires": [
            [
                "d6a293675fd4c2c9"
            ],
            []
        ]
    },
    {
        "id": "d6a293675fd4c2c9",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 460,
        "wires": [
            [
                "eeb26bbf380f829c"
            ]
        ]
    },
    {
        "id": "51db0a5ef50bd0ee",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "444ec423f8805849",
        "accessoryId": "",
        "parentService": "",
        "name": "Plug 5",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 350,
        "y": 520,
        "wires": [
            [
                "675d8ab68c594ba6"
            ],
            []
        ]
    },
    {
        "id": "675d8ab68c594ba6",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 520,
        "wires": [
            [
                "58b0433ac8c38941"
            ]
        ]
    },
    {
        "id": "16be37926c7d585e",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "444ec423f8805849",
        "accessoryId": "",
        "parentService": "",
        "name": "Plug 6",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "adaptiveLightingOptionsEnable": false,
        "adaptiveLightingOptionsCustomTemperatureAdjustment": "",
        "x": 350,
        "y": 600,
        "wires": [
            [
                "d501490324596490"
            ],
            []
        ]
    },
    {
        "id": "d501490324596490",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 600,
        "wires": [
            [
                "c251737f72d0c6d0"
            ]
        ]
    },
    {
        "id": "444ec423f8805849",
        "type": "homekit-bridge",
        "bridgeName": "powerstripbridge",
        "pinCode": "3158-2696",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "MIE",
        "model": "1.7.1",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.7.1",
        "hardwareRev": "1.7.1",
        "softwareRev": "1.7.1",
        "bind": "",
        "bindType": "str",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    }
]
