bridge.json
[
    {
        "id": "f58305dbdfb3aed7",
        "type": "tab",
        "label": "HomeKit: LabPowerStrips",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dace60cedfea2394",
        "type": "comment",
        "z": "f58305dbdfb3aed7",
        "name": "Zero-index Plugs",
        "info": "",
        "x": 820,
        "y": 160,
        "wires": []
    },
    {
        "id": "503a4c551f4e455b",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Nikon LUA-S4",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 240,
        "y": 240,
        "wires": [
            [
                "b0e06e3f012f25b2"
            ],
            []
        ]
    },
    {
        "id": "b0e06e3f012f25b2",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\nreturn msg; ",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n// return { events: 'startPowerUpdateEvents'}",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 240,
        "wires": [
            [
                "bfb942bc3b191d01"
            ]
        ]
    },
    {
        "id": "351fa777b84b8db4",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Tokai Controller Module",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "4411f9cd7a870ddb"
            ],
            []
        ]
    },
    {
        "id": "4411f9cd7a870ddb",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 320,
        "wires": [
            [
                "c3f2e1ed49003cfa"
            ]
        ]
    },
    {
        "id": "b14e1ddd43df1a4a",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "d": true,
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 380,
        "wires": [
            [
                "67a071c2f780d23c"
            ]
        ]
    },
    {
        "id": "d6a293675fd4c2c9",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "d": true,
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            [
                "eeb26bbf380f829c"
            ]
        ]
    },
    {
        "id": "675d8ab68c594ba6",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "d": true,
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 500,
        "wires": [
            [
                "58b0433ac8c38941"
            ]
        ]
    },
    {
        "id": "d501490324596490",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "d": true,
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 580,
        "wires": [
            [
                "c251737f72d0c6d0"
            ]
        ]
    },
    {
        "id": "c3f2e1ed49003cfa",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 2",
        "device": "10.3.2.141/1",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 810,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "67a071c2f780d23c",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "d": true,
        "name": "Plug 3",
        "device": "10.3.2.141/2",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 810,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "eeb26bbf380f829c",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "d": true,
        "name": "Plug 4",
        "device": "10.3.2.141/3",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 810,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "58b0433ac8c38941",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "d": true,
        "name": "Plug 5",
        "device": "10.3.2.141/4",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 810,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "c251737f72d0c6d0",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "d": true,
        "name": "Plug 6",
        "device": "10.3.2.141/5",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 810,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "bfb942bc3b191d01",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 1",
        "device": "10.3.2.141/0",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 810,
        "y": 240,
        "wires": [
            [
                "5fb8b1ab754d3e60"
            ]
        ]
    },
    {
        "id": "e79c7db35dbce0fc",
        "type": "comment",
        "z": "f58305dbdfb3aed7",
        "name": "PowerStrip 2",
        "info": "",
        "x": 250,
        "y": 140,
        "wires": []
    },
    {
        "id": "a7e6c9d02f39adba",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 2",
        "device": "10.3.0.88/1",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 830,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "d2af4ad957911a49",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 3",
        "device": "10.3.0.88/2",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 830,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "6318504ac945de88",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 4",
        "device": "10.3.0.88/3",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 830,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "a7d524f6ee9b1f6e",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 5",
        "device": "10.3.0.88/4",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 830,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "45fa9a283e1d64c5",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 6",
        "device": "10.3.0.88/5",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 830,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "09ee96d8961be412",
        "type": "kasa",
        "z": "f58305dbdfb3aed7",
        "name": "Plug 1",
        "device": "10.3.0.88/0",
        "interval": "1000",
        "eventInterval": "1000",
        "payload": "getQuickInfo",
        "payloadType": "info",
        "debug": true,
        "x": 830,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "bb64b28fd6057b03",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Nikon D-LEDI",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 220,
        "y": 740,
        "wires": [
            [
                "56f7ba074088b92b"
            ],
            []
        ]
    },
    {
        "id": "56f7ba074088b92b",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 740,
        "wires": [
            [
                "09ee96d8961be412"
            ]
        ]
    },
    {
        "id": "373ec88ae88dbae0",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Nikon TI2-CTLE",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 200,
        "y": 820,
        "wires": [
            [
                "183be2f38b3f5881"
            ],
            []
        ]
    },
    {
        "id": "183be2f38b3f5881",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 820,
        "wires": [
            [
                "a7e6c9d02f39adba"
            ]
        ]
    },
    {
        "id": "e7851e1d1cd40fe7",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Condor Air Compressor",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 230,
        "y": 880,
        "wires": [
            [
                "903dbf3eacfc0819"
            ],
            []
        ]
    },
    {
        "id": "903dbf3eacfc0819",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 880,
        "wires": [
            [
                "d2af4ad957911a49"
            ]
        ]
    },
    {
        "id": "b4ea6c9f61ee6a64",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Computer Bench",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 230,
        "y": 940,
        "wires": [
            [
                "9a634f833a3c21a1"
            ],
            []
        ]
    },
    {
        "id": "9a634f833a3c21a1",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 940,
        "wires": [
            [
                "6318504ac945de88"
            ]
        ]
    },
    {
        "id": "21a92a20eff479d2",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Nikon LU-INTL",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 220,
        "y": 1000,
        "wires": [
            [
                "b773f2b251ab4015"
            ],
            []
        ]
    },
    {
        "id": "b773f2b251ab4015",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 1000,
        "wires": [
            [
                "a7d524f6ee9b1f6e"
            ]
        ]
    },
    {
        "id": "6dab657a63af1668",
        "type": "homekit-service",
        "z": "f58305dbdfb3aed7",
        "isParent": true,
        "hostType": "0",
        "bridge": "ca3fb06829513939",
        "accessoryId": "",
        "parentService": "",
        "name": "Nikon AX-SHS",
        "serviceName": "Outlet",
        "topic": "",
        "filter": false,
        "manufacturer": "MIE",
        "model": "1.4.2",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.4.2",
        "hardwareRev": "1.4.2",
        "softwareRev": "1.4.2",
        "cameraConfigVideoProcessor": "ffmpeg",
        "cameraConfigSource": "",
        "cameraConfigStillImageSource": "",
        "cameraConfigMaxStreams": 2,
        "cameraConfigMaxWidth": 1280,
        "cameraConfigMaxHeight": 720,
        "cameraConfigMaxFPS": 10,
        "cameraConfigMaxBitrate": 300,
        "cameraConfigVideoCodec": "libx264",
        "cameraConfigAudioCodec": "libfdk_aac",
        "cameraConfigAudio": false,
        "cameraConfigPacketSize": 1316,
        "cameraConfigVerticalFlip": false,
        "cameraConfigHorizontalFlip": false,
        "cameraConfigMapVideo": "0:0",
        "cameraConfigMapAudio": "0:1",
        "cameraConfigVideoFilter": "scale=1280:720",
        "cameraConfigAdditionalCommandLine": "-tune zerolatency",
        "cameraConfigDebug": false,
        "cameraConfigSnapshotOutput": "disabled",
        "cameraConfigInterfaceName": "",
        "characteristicProperties": "{\"OutletInUse\":{\"minValue\":0,\"maxValue\":1}}",
        "waitForSetupMsg": false,
        "outputs": 2,
        "x": 220,
        "y": 1080,
        "wires": [
            [
                "c55c2e8c0103293d"
            ],
            []
        ]
    },
    {
        "id": "c55c2e8c0103293d",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "State",
        "func": "msg.payload = msg.payload.On;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 1080,
        "wires": [
            [
                "45fa9a283e1d64c5"
            ]
        ]
    },
    {
        "id": "1ac234221f259ae7",
        "type": "inject",
        "z": "f58305dbdfb3aed7",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "startPowerEvents",
        "payloadType": "str",
        "x": 550,
        "y": 660,
        "wires": [
            [
                "bfb942bc3b191d01",
                "c3f2e1ed49003cfa",
                "67a071c2f780d23c",
                "eeb26bbf380f829c",
                "58b0433ac8c38941",
                "c251737f72d0c6d0",
                "09ee96d8961be412",
                "a7e6c9d02f39adba",
                "d2af4ad957911a49",
                "6318504ac945de88",
                "a7d524f6ee9b1f6e",
                "45fa9a283e1d64c5"
            ]
        ]
    },
    {
        "id": "5fb8b1ab754d3e60",
        "type": "function",
        "z": "f58305dbdfb3aed7",
        "name": "function 1",
        "func": "if (msg.payload.powerOn === true){\n    msg.payload = { \"On\": true };\n}\nelse if (msg.payload.powerOn === false) {\n    msg.payload = { \"On\": false };\n}\nelse {\n    msg.payload = \"Not a bool value\"\n}\n\nreturn msg; // Return the updated msg\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 240,
        "wires": [
            [
                "503a4c551f4e455b"
            ]
        ]
    },
    {
        "id": "ca3fb06829513939",
        "type": "homekit-bridge",
        "bridgeName": "Doug bridge",
        "pinCode": "2604-1365",
        "port": "",
        "advertiser": "bonjour-hap",
        "allowInsecureRequest": false,
        "manufacturer": "NRCHKB",
        "model": "1.6.1",
        "serialNo": "Default Serial Number",
        "firmwareRev": "1.6.1",
        "hardwareRev": "1.6.1",
        "softwareRev": "1.6.1",
        "customMdnsConfig": false,
        "mdnsMulticast": true,
        "mdnsInterface": "",
        "mdnsPort": "",
        "mdnsIp": "",
        "mdnsTtl": "",
        "mdnsLoopback": true,
        "mdnsReuseAddr": true,
        "allowMessagePassthrough": true
    }
]
